<!--_menu 作为公共模版分离出去-->
<aside class="Hui-aside">
	
	<div class="menu_dropdown bk_2">
		<!-- 类别管理 -->
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 类别管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="/back/category" title="类别管理">类别管理</a></li>
				</ul>
			</dd>
		</dl>
		<!-- 链接管理 -->
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe622;</i> 链接管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="/back/link" title="链接管理">链接管理</a></li>
				</ul>
			</dd>
		</dl>
		<!-- 关于作者 -->
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe60d;</i> 作者管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="/back/author" title="作者管理">作者管理</a></li>
				</ul>
			</dd>
		</dl>
		<!-- 文章管理 -->
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe620;</i> 博客管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="/back/blog" title="博客管理">博客管理</a></li>
				</ul>
			</dd>
		</dl>
		<!-- 关于管理员账号 -->
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="/back/admin" title="管理员管理">管理员管理</a></li>
				</ul>
			</dd>
		</dl>
	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<!--/_menu 作为公共模版分离出去-->