<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <title>瓶子羊 - 爱摄影 爱写作 爱美食 爱原创</title> 
  <meta name="keywords" content="博客,记录,摄影,日记,情感,情侣,空间,瓶子羊,原创,自媒体" /> 
  <meta name="description" content="我们是瓶子羊，热爱摄影，钟爱文字，坚持做有温度的原创。专注于三天半的事情，也会时不时的大吃一顿安慰自己空虚的心灵。兴趣是写作、摄影和蹭饭。致力于吃饭睡觉打豆豆等伟大事业。定居在中国的大西北，俗称塞上江南大银川。欢迎各位的光顾！这是我们的小窝。暂时无房产，所以住在这里。瓶子羊希望各位前辈多多关照，让瓶子羊快快长大，养家糊口！" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  <meta name="referrer" content="no-referrer" /> 
  <link href="/stylesheets/front/iframe-base.css" rel="stylesheet" type="text/css" /> 
  <link href="/stylesheets/front/m.css" rel="stylesheet" type="text/css" /> 
  <link href="/stylesheets/front/iframe.css-v=1.2.css" rel="stylesheet" type="text/css" /> 
  <script type="text/javascript" src="/javascripts/front/jquery-1.8.3.min.js"></script> 
  <script type="text/javascript" src="/javascripts/front/main.js"></script> 
  <link href="/stylesheets/front/swiper.min.css" rel="stylesheet" type="text/css" /> 
  
  <script type="text/javascript" src="/javascripts/front/swiper.min.js"></script> 
  <script type="text/javascript" src="/javascripts/front/banner.js"></script> 
  
 </head> 