.sex{}
.sex .formControls{
	display: flex;
}
.sex .formControls .sex_option{
	display: flex;
	align-items: center;
	margin-right: 20px;
}
.sex .formControls .sex_option input{
	width: 20px;
	height: 20px;
}
.avtor{
	width: 80px;
	height: 80px;
}