<style type="text/css">
	.nav{
		width: 500px;
	}
	.nav ul{
		display: flex;
		flex-direction: row;
	}
	.nav ul li{
		flex:1;
		line-height: 60px;
		text-align: center;
		border:1px solid rgba(0,0,0,0.2);
		margin: 0 5px;
		color: #fff;
	}
	.nav ul li a{
		display: block;
		height: 60px;
		color: #fff;
	}
	.nav ul li a:hover{
		color: rgba(0,0,0,0.7);
	}
</style>
<div class="nav">
	<ul>
		<li><a href="/">正在播放</a></li>
		<li><a href="/play_list">播放列表</a></li>
		<li><a href="/music_search">歌曲搜索</a></li>
	</ul>
</div>