<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/stylesheets/reset.css">
	<link rel="stylesheet" href="/stylesheets/index.css">
	<script type="text/javascript" src="/lib/jquery.js"></script>
	<script type="text/javascript" src="/javascripts/index.js"></script>
</head>
<body>
	<!-- 引入毛玻璃特效 -->
	{{include "./common/ground_glass_effect.html"}}
	<div id="container">
		<!-- 点击实现切换的导航 -->
		{{include "./common/nav_head.html"}}
		<!-- 中间的核心部分 -->
		<div id="content">
			<!-- 左侧部分 -->
			<div id="wrap">
				<iframe src="/music_playing" frameborder="0" id="music_content"></iframe>
			</div>
			<!-- 右侧部分 -->
			<div class="lyrics">
				<ul class="lrc">
				</ul>
			</div>
			<textarea style="display: none;" id="lrc-text">
				[00:01.34]成都
				[00:02.09]
				[00:03.96]作词：赵雷
				[00:03.96]作曲：赵雷
				[00:05.99]编曲：赵雷,喜子
				[00:09.04]演唱：赵雷
				[00:12.90]
				[00:18.82]让我掉下眼泪的 不止昨夜的酒
				[00:26.51]让我依依不舍的 不止你的温柔
				[00:34.31]余路还要走多久 你攥着我的手
				[00:42.29]让我感到为难的 是挣扎的自由
				[00:49.43]
				[00:52.26]分别总是在九月 回忆是思念的愁
				[01:00.15]深秋嫩绿的垂柳 亲吻着我额头
				[01:07.91]在那座阴雨的小城里 我从未忘记你
				[01:15.94]成都 带不走的 只有你
				[01:22.24]
				[01:23.91]和我在成都的街头走一走 
				[01:31.78]直到所有的灯都熄灭了也不停留
				[01:39.81]你会挽着我的衣袖 我会把手揣进裤兜
				[01:47.56]走到玉林路的尽头 坐在(走过)小酒馆的门口
				[01:56.70]
				[02:32.22]分别总是在九月 回忆是思念的愁
				[02:40.19]深秋嫩绿的垂柳 亲吻着我额头
				[02:47.94]在那座阴雨的小城里 我从未忘记你
				[02:55.85]成都 带不走的 只有你
				[03:02.26]
				[03:03.96]和我在成都的街头走一走 
				[03:11.81]直到所有的灯都熄灭了也不停留
				[03:19.67]你会挽着我的衣袖 我会把手揣进裤兜
				[03:27.60]走到玉林路的尽头 坐在(走过)小酒馆的门口
				[03:36.90]
				[03:39.51]和我在成都的街头走一走 
				[03:47.33]直到所有的灯都熄灭了也不停留
				[03:55.21]和我在成都的街头走一走 
				[04:03.14]直到所有的灯都熄灭了也不停留
				[04:10.97]你会挽着我的衣袖 我会把手揣进裤兜
				[04:18.92]走到玉林路的尽头 坐在(走过)小酒馆的门口
				[04:29.14]
			</textarea>
		</div>
		<!-- 底部音乐控制的实现 -->
		<div class="music-ctrls">
			<audio id="music-audio" src="/musics/chengdu.m4a"></audio>
			<div class="progress">
				<img class="prev" src="/images/previous.png" alt="">
				<img class="play" src="/images/play.png" alt="">
				<img class="next" src="/images/next.png" alt="">
				<div class="progress-area">
					<p class="bar"></p>
					<p class="current_prog"></p>
					<p class="prog"></p>
				</div>
				<p class="all-time">00:00</p>
			</div>
			<div class="volice">
				<img src="/images/volice.png" alt="">
				<div class="progress-area">
					<p class="bar"></p>
					<p class="current_prog"></p>
					<p class="prog"></p>
				</div>
				<img src="/images/notlike.png" alt="">
				<img class="play_model" src="/images/single_repeat.png" alt="">
			</div>
		</div>
	</div>
</body>
</html>