<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/stylesheets/reset.css">
	<link rel="stylesheet" href="/stylesheets/music_search.css">
</head>
<body>
	<div id="search">
		<ul>
			<li>
				<a href="/soaring">
					<img src="/images/search_icon.jpg" alt="">
					<p>飙升榜</p>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/images/history.png" alt="">
					<p>播放历史</p>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/images/search_icon.jpg" alt="">
					<p>新歌榜</p>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/images/search_icon.jpg" alt="">
					<p>热歌榜</p>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/images/search_icon.jpg" alt="">
					<p>华语金曲榜</p>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/images/search_icon.jpg" alt="">
					<p>正在播放</p>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/images/search_icon.jpg" alt="">
					<p>中国top100(内地)</p>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/images/search_icon.jpg" alt="">
					<p>中国top100(港澳)</p>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/images/search_icon.jpg" alt="">
					<p>我喜欢</p>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/images/search_icon.jpg" alt="">
					<p>个性化音乐</p>
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/images/settings.png" alt="">
					<p>我的设置</p>
				</a>
			</li>
			

		</ul>
	</div>
	<script type="text/javascript">
		// window.parent.document.getElementById("mode_name").innerHTML=tt;
	</script>
</body>
</html>