<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="/stylesheets/reset.css">
	<link rel="stylesheet" href="/stylesheets/play_list.css">
	<script type="text/javascript" src="/lib/jquery.js"></script>
	<script type="text/javascript" src="/javascripts/play_list.js"></script>
</head>
<body>
	<div id="music_list">
		<table class="table">
	      <thead>
	        <tr>
	          <th></th>
	          <th>歌曲</th>
	          <th>演唱者</th>
	          <th>专辑</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr class="item">
	          <td scope="row">1 </td>
	          <td>成都</td>
	          <td>张继科</td>
	          <td>2017跨界歌王 第十一期</td>
	        </tr>
	        <tr class="item">
	          <td scope="row">1 </td>
	          <td>成都</td>
	          <td>张继科</td>
	          <td>2017跨界歌王 第十一期</td>
	        </tr>
	        <tr class="item">
	          <td scope="row">1 </td>
	          <td>成都</td>
	          <td>张继科</td>
	          <td>2017跨界歌王 第十一期</td>
	        </tr>
	        <tr class="item">
	          <td scope="row">1 </td>
	          <td>成都</td>
	          <td>张继科</td>
	          <td>2017跨界歌王 第十一期</td>
	        </tr>
	        <tr class="item">
	          <td scope="row">1 </td>
	          <td>成都</td>
	          <td>张继科</td>
	          <td>2017跨界歌王 第十一期</td>
	        </tr>
	        <tr class="item">
	          <td scope="row">1 </td>
	          <td>成都</td>
	          <td>张继科</td>
	          <td>2017跨界歌王 第十一期</td>
	        </tr>
	        <tr class="item">
	          <td scope="row">1 </td>
	          <td>成都</td>
	          <td>张继科</td>
	          <td>2017跨界歌王 第十一期</td>
	        </tr>
	        <tr class="item">
	          <td scope="row">1 </td>
	          <td>成都</td>
	          <td>张继科</td>
	          <td>2017跨界歌王 第十一期</td>
	        </tr>
	        <tr class="item">
	          <td scope="row">1 </td>
	          <td>成都</td>
	          <td>张继科</td>
	          <td>2017跨界歌王 第十一期</td>
	        </tr>
	        <tr class="item">
	          <td scope="row">1 </td>
	          <td>成都</td>
	          <td>张继科</td>
	          <td>2017跨界歌王 第十一期</td>
	        </tr>
	        <tr class="item">
	          <td scope="row">1 </td>
	          <td>成都</td>
	          <td>张继科</td>
	          <td>2017跨界歌王 第十一期</td>
	        </tr>
	      </tbody>
	    </table>
	</div>
</body>
</html>