<!--meta公共模版-->
{{include "./common/meta.html"}}

<link rel="stylesheet" href="/stylesheets/back/author.css">

<style type="text/css">
	.show_car{
		font-size: 15px;
		color: red;
	}
	.show_head{
		font-size: 15px;
		color: green;
	}
</style>

<body>

<!--head公共模版-->
{{include "./common/head.html"}}

<!--menu公共模版-->
{{include "./common/menu.html"}}

<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
		<span class="c-gray en">&gt;</span>
		博客信息管理
		<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
	</nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<div class="cl pd-5 bg-1 bk-gray mt-20">
				<span class="l">
				<a class="btn btn-primary radius" data-title="添加资讯"  href="/back/blog/add"><i class="Hui-iconfont">&#xe600;</i>添加博客信息</a>
				</span>
				<span class="r">共有数据：<strong>{{blogs.length}}</strong> 条</span>
			</div>
			<div class="mt-20">
				<table class="table table-border table-bordered table-bg table-hover table-sort">
					<thead>
						<tr class="text-c">
							<th>博客id</th>
							<th>博客标题</th>
							<th>博客封面</th>
							<th>是否轮播</th>
							<th>头条显示</th>
							<th>博客点赞数</th>
							<th>博客浏览量</th>
							<th>博客简介</th>
							<th width="220">操作</th>
						</tr>
					</thead>
					<tbody>
						{{each blogs}}
						<tr class="text-c">
							<td>{{$value.blog_id}}</td>
							<td>{{$value.title}}</td>
							<td>
								<img class="avtor" src="/{{$value.img_src}}" alt="">
							</td>
							<td>
								{{if $value.is_carousel==1}}
									<p class="show_car">轮播显示</p>
								{{else}}
									默认
								{{/if}}
							</td>
							<td>
								{{if $value.is_header==1}}
									<p class="show_head">头条显示</p>
								{{else}}
									默认
								{{/if}}
							</td>
							<td>{{$value.like}}</td>
							<td>{{$value.browse}}</td>
							<td>{{$value.introduce}}</td>
							<td class="f-14 td-manage">
								<a style="text-decoration:none" class="ml-5" href="/back/blog/edit?id={{$value.blog_id}}" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a>
								<a style="text-decoration:none" class="ml-5" href="/back/blog/del?id={{$value.blog_id}}" onclick="if(confirm('确定删除?')==false)return false;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>
							</td>
						</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
		</article>
	</div>
</section>

<!-- 关于分类内容的分页开始 -->

<!-- 关于分类内容的分页结束 -->

<!--script公共模版-->
{{include "./common/script.html"}}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
</body>
</html>