<!--meta公共模版-->
{{include "./common/meta.html"}}

<link rel="stylesheet" href="/stylesheets/back/index.css">

<body>
<!--head公共模版-->
{{include "./common/head.html"}}

<!--menu公共模版-->
{{include "./common/menu.html"}}

<section class="Hui-article-box">
		<nav class="breadcrumb"><i class="Hui-iconfont"></i> <a href="/" class="maincolor">首页</a> 
			<span class="c-999 en">&gt;</span>
			<span class="c-666">我的首页</span> 
			<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
		</nav>
		<div class="Hui-article">
			<h2 class="blog-index-title">我的博客</h2>
			<article class="cl pd-20">
				<canvas style="width: 1650px;height: 700px"></canvas>
			</article>
		</div>
</section>

<!--script公共模版-->
{{include "./common/script.html"}}
<script type="text/javascript" src="/javascripts/back/index.js"></script>


</body>
</html>