#pageBox span {
    display: inline-block;
    width: 60px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    background: #08a586;

}

#pageNav {
    display: inline-block;
}

#pageNav a {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #3a87ad;
    text-decoration: none;
}

#pageNav a.active, #pageNav a:hover {
    background: #3a87ad;
    color: #EFEFEF;
}

#prev:hover {
    cursor: pointer;
}

#next:hover {
    cursor: pointer;
}